@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply antialiased;
  }
  body {
    @apply bg-paper text-paper-ink font-sans;
  }
}

@layer utilities {
  .safe-area-inset {
    padding-left: env(safe-area-inset-left, 0);
    padding-right: env(safe-area-inset-right, 0);
    padding-top: env(safe-area-inset-top, 0);
    padding-bottom: env(safe-area-inset-bottom, 0);
  }
  .safe-area-inset-left {
    padding-left: env(safe-area-inset-left, 0);
  }
}
